{{info.name}} has an id of {{info.id}} and acctid {{info.accountId}} {{info2.totalGames}} 

{{# each info2.listofGames as |val key|}}
<div>
  game number {{key}}: champion id:{{ val.champion }} gameid: {{ val.gameId}} 
</div>
{{/each}}

{{#each info3}} <div>Game:{{@key}}: kills:{{this.kills}} win:{{this.win}} deaths:{{this.deaths}} assists:{{this.assists}} </div>{{/each}}

